body{
line-height: 25px;
font-family: Arial;
}

img{

    width:20%;
}
.column{
    width: 600px;
    margin: 40px auto;
    border: dotted 20px #929292;
    padding: 20px;
    border-color: coral;
    border-width: 7px;
    padding: 7px;
}

p{
    
    font-family: Arial;
    border: solid 5px #929292;
    padding: 20px;
    border-radius: 10px;

}
h1{
    font-size: 60px;
    font-family: Arial;
    background-color: crimson;
    
}