
head1{
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: center;   
   
}
body{
line-height: 42px;
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 42px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}