

body{
line-height: 25px;
font-family: Arial;
}

img{

    width:20%;
}
.column{
    width: 600px;
    margin: 40px auto;
    border: dotted 20px #929292;
    padding: 20px;
}

p{
    font-size: 20px;
    font-family: Arial;
    border: solid 5px #929292;

}